name: Publish Package to GitHub Packages

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@zen-ui'

      - name: Setup Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Bump Version
        run: |
          npm version patch -m "chore: bump version to %s [skip ci]"
          git push
          git push --tags

      - run: |
          pwd
          ls -la
          node -v
          npm -v
          node -p "require('./package.json').devDependencies?.vite || require('./package.json').dependencies?.vite"
          node -p "require('./package-lock.json').packages?.['node_modules/vite']?.version || 'no vite in lock'"

      - run: npm ci
      - run: npm ci
      - run: npm run lint
      - run: npm run test
      - run: npm run build

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
